<?xml version="1.0" encoding="UTF-8"?>
<module id="10202" version="2016052300">
  <modulename>certificate</modulename>
  <sectionid>2790</sectionid>
  <sectionnumber>5</sectionnumber>
  <idnumber></idnumber>
  <added>1369073363</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionpassgrade>0</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","c":[{"type":"completion","cm":10186,"e":1},{"type":"completion","cm":10188,"e":1},{"type":"completion","cm":10189,"e":2},{"type":"completion","cm":10190,"e":1},{"type":"completion","cm":10191,"e":2},{"type":"completion","cm":10193,"e":1},{"type":"completion","cm":10194,"e":2},{"type":"completion","cm":10196,"e":1}],"showc":[true,true,true,true,true,true,true,true]}</availability>
  <showdescription>0</showdescription>
  <downloadcontent>1</downloadcontent>
  <lang></lang>
  <tags>
  </tags>
</module>